lang en_US
keyboard us
timezone Aisa/Shanghai
rootpw $1$2Xb7M2dX$TwMDmYgnlGhfiCMYU9xww1 --iscrypted
reboot
text
nfs --server=10.10.10.114 --dir=/volume1/public/centos7
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
network --bootproto=dhcp --onboot=on --noipv6 --activate

# partition
zerombr
clearpart --all --initlabel --drives=sda
part /boot --fstype=xfs --size=500 --ondisk=sda
part pv.01 --fstype="lvmpv" --ondisk=sda --size=1 --grow
volgroup vg_root pv.01
logvol  /  --vgname=vg_root --fstype=xfs --size=2048 --grow --name=lv_root

auth --passalgo=sha512 --useshadow
selinux --permissive
firewall --disabled
skipx
firstboot --disable

# 设置源
repo --name=base --baseurl=https://mirrors.aiziyuer.familyds.com:5001/centos/7/os/x86_64/
repo --name=epel-release --baseurl=https://mirrors.aiziyuer.familyds.com:5001/epel/7/x86_64/
repo --name=elrepo-kernel --baseurl=https://mirrors.aiziyuer.familyds.com:5001/elrepo/kernel/el7/x86_64/
repo --name=elrepo-release --baseurl=https://mirrors.aiziyuer.familyds.com:5001/elrepo/elrepo/el7/x86_64/

%packages
# install
@^minimal
@core
kernel-lt
kernel-lt-devel
kernel-lt-tools
kernel-lt-tools-libs
kernel-lt-headers
chrony
kexec-tools
net-tools
open-vm-tools
vim
golang-github-prometheus-node-exporter

# remove
-kernel
-kernel-headers
-kernel-devel
-aic94xx-firmware
-alsa-firmware
-bfa-firmware
-dracut-config-rescue
-ivtv-firmware
-iwl1000-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-kernel-tools
-libertas-sd8686-firmware
-libertas-sd8787-firmware
-libertas-usb8388-firmware
-microcode_ctl
-NetworkManager
-NetworkManager-tui
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware

%end


%pre
# 初始化node_exporter账号
getent group node_exporter > /dev/null || groupadd -r node_exporter
getent passwd node_exporter > /dev/null || \
    useradd -rg node_exporter -d /var/lib/node_exporter -s /sbin/nologin \
            -c "Prometheus node exporter" node_exporter
mkdir -p /var/lib/node_exporter/textfile_collector
chgrp node_exporter /var/lib/node_exporter/textfile_collector
chmod 771 /var/lib/node_exporter/textfile_collector

%post --log=/root/ks-post.log

# 设置源
rm -rf /etc/yum.repos.d/*
cat<<'EOF'>/etc/yum.repos.d/CentOS.repo
[base]
name=CentOS-$releasever - Base
baseurl=https://mirrors.aiziyuer.familyds.com:5001/centos/$releasever/os/$basearch/
gpgcheck=0

[updates]
name=CentOS-$releasever - Updates
baseurl=https://mirrors.aiziyuer.familyds.com:5001/centos/$releasever/updates/$basearch/
gpgcheck=0

[extras]
name=CentOS-$releasever - Extras
baseurl=https://mirrors.aiziyuer.familyds.com:5001/centos/$releasever/extras/$basearch/
gpgcheck=0
EOF

cat<<'EOF'>/etc/yum.repos.d/epel.repo
[epel]
name=Extra Packages for Enterprise Linux 7
baseurl=http://mirrors.aiziyuer.familyds.com:5000/epel/$releasever/x86_64/
enabled=1
gpgcheck=0
EOF

# 网络定制: 禁用多余的ipv6
cat <<'EOF'>/etc/sysctl.conf
net.ipv6.conf.all.disable_ipv6=1
net.ipv6.conf.default.disable_ipv6=1
net.ipv6.conf.lo.disable_ipv6=1
EOF
sysctl --system

# 配置node_expoter

systemctl enable node_exporter

# 定制ssh
echo 'UseDNS no' >> /etc/ssh/sshd_config

# 配置免密登录
mkdir -p /root/.ssh
cat <<'EOF'>/root/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC79fHSE1ohgGM/gYGl98Yodpk5s9zjmpc3QtIGStROs5v9099Uprzw4W5KieuACZEdSpJ6t2CugJ6Rn/d0/Q7YxnrGj8MOsB66qutsEbuT8gqdEDeNxB6VwXWQLqvoj+hF0eH3nMGkhxp5v/Rqz6ZAqI+n2hWniCBEqgLanFoK9XCm3qNFT5Q/iZsLc3fjh/jzfq6zxl8Ez7Npn5Ld/ShywZQnYseJok2VTJ6Omr9QGyVCCGm5QIraBmi1ySOBYzXLb5YI+MAZ37IuRR2mG+1nLi0EZBh3CqLZ6OfZ9n9R4xgZtCR40xHWTVXIyDDytzuW9pflAKcY1cWV1ioz0kOwYNbSbU1ZehrcSFqCnk79tglw29ZJI4thEiD1CuNMxMMNpK6/I8DIP00TereRducJ36CwYMvQLmEyDxohVoukc6rUkgdqR5ykMW0f5w0ukpDVDbVEqijETapuagcJsm5JSPtJSGJGpYxDdsrFO+emXGFRhlt1wo2Z5ppi9z+2DKb4pMN4gd+g5K3WlIAZfEUsMtO56mT+uD3Ehd8VmILh5aoiR529bAM0UprRsPJ96om24Y6ntuOkqDBJHoQnehPKQVLNMNFABwlmz6GUxJ3ad0jEyY+axgwGMS5H2iUOyXja5dpb96iRTHz/TO91BgWBtrRJaSbxe2NCceyNuUnmcQ== ziyu0123456789@gmail.com
EOF
chmod 755 /root/.ssh -R
chmod 600 /root/.ssh/* 

%end

# Reboot machine after installation
reboot