lang en_US
keyboard us
timezone Aisa/Shanghai
rootpw $1$2Xb7M2dX$TwMDmYgnlGhfiCMYU9xww1 --iscrypted
reboot
text
nfs --server=10.10.10.114 --dir=/volume1/public/centos7
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
network --bootproto=dhcp --onboot=on --noipv6 --no-activate

# partition
zerombr
clearpart --all --initlabel --drives=sda
part /boot --fstype=xfs --size=500 --ondisk=sda
part pv.01 --fstype="lvmpv" --ondisk=sda --size=1 --grow
volgroup vg_root pv.01
logvol  /  --vgname=vg_root --fstype=xfs --size=2048 --grow --name=lv_root

auth --passalgo=sha512 --useshadow
selinux --permissive
firewall --disabled
skipx
firstboot --disable

# 设置源
repo --name=base --baseurl=http://mirror.centos.org/centos-7/7/os/x86_64/
#repo --name=epel-release --baseurl=https://dl.fedoraproject.org/pub/epel/7/x86_64/
#repo --name=elrepo-kernel --baseurl=http://elrepo.org/linux/kernel/el7/x86_64/
repo --name=epel-release --baseurl=https://mirrors.aiziyuer.familyds.com:5001/epel/7/x86_64/
repo --name=elrepo-kernel --baseurl=https://mirrors.aiziyuer.familyds.com:5001/elrepo/kernel/el7/
repo --name=elrepo-release --baseurl=http://elrepo.org/linux/elrepo/el7/x86_64/

%packages
# install
@^minimal
@core
kernel-lt
kernel-lt-devel
kernel-lt-tools
kernel-lt-tools-libs
kernel-lt-headers
chrony
kexec-tools
net-tools
open-vm-tools
vim

# remove
-kernel
-kernel-headers
-kernel-devel
-aic94xx-firmware
-alsa-firmware
-bfa-firmware
-dracut-config-rescue
-ivtv-firmware
-iwl1000-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-kernel-tools
-libertas-sd8686-firmware
-libertas-sd8787-firmware
-libertas-usb8388-firmware
-microcode_ctl
-NetworkManager
-NetworkManager-tui
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware

%end

%post --log=/root/ks-post.log

# 网络定制: 禁用多余的ipv6
cat <<'EOF'>/etc/sysctl.conf
net.ipv6.conf.all.disable_ipv6=1
net.ipv6.conf.default.disable_ipv6=1
net.ipv6.conf.lo.disable_ipv6=1
EOF
sysctl --system

# 定制ssh
echo 'UseDNS no' >> /etc/ssh/sshd_config

%end

# Reboot machine after installation
reboot