#version=EulerOS V2.0SP2
# System authorization information

# Use CDROM installation media
# Use graphical install
# Run the Setup Agent on first boot
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language

# Network information
nfs --server=10.10.10.114 --dir=/volume1/public/euler2sp2
network --bootproto=dhcp --onboot=on --noipv6

# Root password
rootpw $1$2Xb7M2dX$TwMDmYgnlGhfiCMYU9xww1 --iscrypted
reboot
text

# System timezone
timezone Asia/Shanghai --isUtc --nontp
# System bootloader configuration
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"

# Partition clearing information
zerombr
clearpart --all --initlabel --drives=sda
part /boot --fstype=xfs --size=500 --ondisk=sda
part pv.01 --fstype="lvmpv" --ondisk=sda --size=1 --grow
volgroup vg_root pv.01
logvol  /  --vgname=vg_root --fstype=xfs --size=2048 --grow --name=lv_root

auth --passalgo=sha512 --useshadow
selinux --permissive
firewall --disabled
skipx
firstboot --disable

%packages
@core
kexec-tools
net-tools
open-vm-tools

# remove
-kernel
-kernel-headers
-kernel-devel
-aic94xx-firmware
-alsa-firmware
-bfa-firmware
-dracut-config-rescue
-ivtv-firmware
-iwl1000-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-kernel-tools
-libertas-sd8686-firmware
-libertas-sd8787-firmware
-libertas-usb8388-firmware
-microcode_ctl
-NetworkManager
-NetworkManager-tui
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware

%end

%post

# 设置源
cat<<'EOF'>/etc/yum.repos.d/EulerOS-base.repo
[base]
name=EulerOS-2.0SP2 base
baseurl=https://mirrors.aiziyuer.familyds.com:5001/euler/2.2/os/x86_64/
enabled=1
gpgcheck=1
gpgkey=https://mirrors.aiziyuer.familyds.com:5001/euler/2.2/os/x86_64/RPM-GPG-KEY-EulerOS
EOF

%end