path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"
http.port: 9200
discovery.zen.ping.unicast.hosts:
  ["{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"]

xpack.security.transport.ssl.enabled: true
xpack.security.enabled: true
xpack:
  security:
    enabled: true
    authc:
      realms:
        ldap:
          ldap1:
            order: 0
            url: "ldap://aiziyuer.familyds.com:389"
            bind_dn: "uid=root,cn=users,dc=aiziyuer,dc=familyds,dc=com"
            # 密码用如下命令设置
            # /usr/share/elasticsearch/bin/elasticsearch-keystore add xpack.security.authc.realms.ldap.ldap1.secure_bind_password
            user_search:
              base_dn: "dc=aiziyuer,dc=familyds,dc=com"
              filter: "(cn={0})"
            group_search:
              base_dn: "dc=aiziyuer,dc=familyds,dc=com"
            files:
              role_mapping: "/etc/elasticsearch/role_mapping.yml"
            unmapped_groups_as_roles: false
