path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"
http.port: 9200
cluster.initial_master_nodes: ["{{ inventory_hostname }}"]
discovery.zen.ping.unicast.hosts:
  ["{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"]

xpack.security.transport.ssl.enabled: true
xpack.security.enabled: true
xpack:
  security:
    enabled: true
    authc:
      realms:
        ldap:
          ldap1:
            order: 0
            url: "{{ LDAP_URL }}"
            bind_dn: "{{ LDAP_DIND_DN }}"
            bind_password: "{{ LADP_DIND_DN_PASSWD }}"
            user_search:
              base_dn: "{{ LDAP_USER_SEARCH }}"
              filter: "(cn={0})"
            group_search:
              base_dn: "{{ LDAP_GROUP_SEARCH }}"
            files:
              role_mapping: "/etc/elasticsearch/role_mapping.yml"
            unmapped_groups_as_roles: false
